div.hideSection {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), white);
  line-height: 200px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 100; }
  div.hideSection div {
    border-radius: 20%;
    display: inline-block;
    border: solid 2px #696969;
    background: #ffffff;
    font-weight: 900;
    line-height: 30px;
    margin: 0 auto;
    width: 100px; }
  div.hideSection div:hover {
    background: #696969;
    color: #ffffff; }

.markdown-body {
  overflow: hidden;
  position: relative;
  min-height: 600px; }
