div.wall-paper {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url() no-repeat 0 0/100% 100%; }

body {
  position: relative;
  z-index: -2; }

html {
  position: relative;
  z-index: -3; }
